venv/
frontend/

.idea/
.git/

*.db

assets/docs
assets/logs
assets/packages
assets/photo
assets/docker-release
assets/devices_db.json
assets/face_template_cache.json

.gitignore
.env.local

Dockerfile
compile_src_archive.cmd
docker_build_push.cmd