/docs/
/venv/
/.idea
*.ini
frontend/
devices_db.json
*.log
assets/docker-release/launcher/Launcher9160.exe
assets/docker-release/launcher/env.json
.env.docker
.env.local
__pycache__/
assets/packages/
face_template_cache.json