/docs/
/venv/
/.idea
*.ini
/tests/.pytest_cache/
/tests/I.jpg
/dashboard/frontend/
devices_db.json
*.log
docker-release/runner/build/
docker-release/runner/dist/
docker-release/runner/main.spec
docker-release/runner/main_exe.spec
