/venv/
/__pycache__/
/.idea/
/frontend/

packages.zip
/packages/

*.ini
*.log
.env.*

assets/docker-release/launcher/Launcher9160.exe
assets/docker-release/launcher/env.json

assets/firmware
assets/packages/
assets/docs/
assets/logs/
assets/photo


